.categories {
  display: flex;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.category-listing {
  width: 50%;
  margin: 50px auto;
}
.edit {
  color: blue;
  margin: 5px 10px;
  cursor: pointer;
}
.delete {
  color: red;
  margin: 5px 10px;
  cursor: pointer;
}
